---
import RichTextRenderer from '@caisy/rich-text-astro-renderer';
import { gql, GraphQLClient } from 'graphql-request';
import Layout from "../layouts/Layout.astro";
import Hero from '../components/Hero.astro'
import TherapyTile from '../components/tiles/TherapyTile.astro';
import YogaTile from '../components/tiles/YogaTile.astro';
import MinimalismTile from '../components/tiles/MinimalismTile.astro';
import LogoTile from '../components/tiles/LogoTile.astro';
import Button from '../components/Button.astro';
import introTilesBg from '../assets/intro-tiles.jpg';

const client = new GraphQLClient(
	`https://cloud.caisy.io/api/v3/e/${import.meta.env.CAISY_PROJECT_ID}/graphql`,
	{
		headers: {
			'x-caisy-apikey': import.meta.env.CAISY_API_KEY
		}
	}
);
const gqlResponse = await client.request(
	gql`
		query home {
			Home {
				introText {
					json
				}
				mainTitle {
					json
				}
				minimalismTitle
				therapyTitle
				yogaTitle
			}
		}
	`,
);

const {introText, mainTitle, minimalismTitle, therapyTitle, yogaTitle, } = gqlResponse?.Home
---

<Layout title='Simply bee - Úvod'>
	<Hero background='bg-intro.jpg' color='intro-opacity' subTitle={mainTitle} Tile={LogoTile} title='Šárka Hulinková' type="intro" />
	<section class="section">
		<RichTextRenderer node={introText.json} />
		<Button text="Chci konzultaci zdarma" />
	</section>
	<section class="section signpost section--intro">
		<div class="signpostItem">
			<a href="/terapie"><TherapyTile transition:name="therapy" title={therapyTitle} /></a>
		</div>
		<div class="signpostItem">
			<a href="/joga"><YogaTile transition:name="yoga" title={yogaTitle} /></a>
		</div>
		<div class="signpostItem">
			<a href="/minimalismus"><MinimalismTile transition:name="minimalism" title={minimalismTitle} /></a>
		</div>
	</section>
</Layout>